# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFOLD

# Python virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE / Editor specific
.idea/
.vscode/

# Gemini session summaries
gemini_session_summaries.txt/

api/data/
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal

processed_data/
woolworths1_ids.txt
woolworths2_ids.txt
