.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at -20% -20%, var(--lighting-1), var(--lighting-2), var(--lighting-3), var(--lighting-4), var(--bg));
}