.horizontal-scroller-container {
  margin-bottom: 2rem;
}

.scroller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.scroller-content {
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem; /* For scrollbar visibility */
}

/* Hide scrollbar */
.scroller-content::-webkit-scrollbar {
  display: none;
}

.scroller-item {
  margin-right: 1rem;
}
