.split-cart-button {
  background-color: var(--bg-light);
  color: var(--text);
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border: 2px solid;
  font-family: 'Vollkorn';
  transition: all 0.3s ease;
  cursor: pointer;
}

.split-cart-button:hover {
  background-color: var(--primary);
  color: var(--bg-light);
  border-color: var(--primary);
}
