.add-to-cart-btn {
    background-color: var(--colorp3);
    color: var(--colorp);
    height: 3rem;
    width: 9rem;
    border: 1px solid var(--colorp);
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    line-height: 1;
    transition: background-color 0.2s;
}

.add-to-cart-btn:hover {
    background-color: hsl(92, 38%, 80%);
}

.cart-trolley-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.quantity-btn {
    background-color: var(--colorp3);
    color: var(--colorp);
    border: 1px solid var(--colorp);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.decrement-btn {
    border-radius: 8px 0 0 8px;
}

.increment-btn {
    border-radius: 0 8px 8px 0;
}

.quantity-input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: 1px solid var(--colorp);
    border-left: none;
    border-right: none;
    font-size: 1rem;
    -moz-appearance: textfield;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
