#root {
  /* padding: 2rem; Removed */
  text-align: center;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--secondary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: var(--text-muted);
}

.hero-section {
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.subtitle {
  color: var(--colorp);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.subtext {
  color: var(--colorp);
  font-size: 1.2rem;
  max-width: 600px;
}

.scrolling-background-image {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 60%;
  z-index: -1;
  mask-image: radial-gradient(ellipse at center, black 50%, transparent 80%);
}

.bottom-left-image {
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 50%;
    z-index: -1;
    mask-image: radial-gradient(ellipse at center, black 50%, transparent 95%);
}

.content-container.search-active {
  padding-top: 0.5rem;
}

@media (max-width: 768px) {
  .scrolling-background-image {
    position: static;
    width: 100%;
  }

  .bottom-left-image,
  .bottom-info-card {
    display: none;
  }

  .hero-section {
    text-align: center;
    margin-bottom: -1.4rem;
  }

  .instructions-tile {
    width: 100%;
    margin: 1rem 0;
  }
}
