.bottom-info-card {
  background-color: var(--colorp3);
  border-radius: 8px;
  padding: 2rem;
  margin: 10rem 0 10rem auto;
  margin-right: 2rem;
  width: 40%;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  text-align: left;
}

.info-item:last-child {
  margin-bottom: 0;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--colorp);
}

.info-subtext {
  font-size: 1rem;
  color: var(--colorp2);
}
