@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --sidebar: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(240, 5.3%, 26.1%);
  --sidebar-primary: hsl(240, 5.9%, 10%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(240, 4.8%, 95.9%);
  --sidebar-accent-foreground: hsl(240, 5.9%, 10%);
  --sidebar-border: hsl(220, 13%, 91%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  --background: hsl(226.2, 57%, 21%);
  --foreground: hsl(213.8, 100%, 96.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(226.2, 57%, 21%);
  --popover: hsl(214.3, 94.6%, 92.7%);
  --popover-foreground: hsl(226.2, 57%, 21%);
  --primary: hsl(221.2, 83.2%, 53.3%);
  --primary-foreground: hsl(213.8, 100%, 96.9%);
  --secondary: hsl(213.1, 93.9%, 67.8%);
  --secondary-foreground: hsl(226.2, 57%, 21%);
  --muted: hsl(211.7, 96.4%, 78.4%);
  --muted-foreground: hsl(224.3, 76.3%, 48%);
  --accent: hsl(213.3, 96.9%, 87.3%);
  --accent-foreground: hsl(226.2, 57%, 21%);
  --border: hsl(213.3, 96.9%, 87.3%);
  --input: hsl(214.3, 94.6%, 92.7%);
  --ring: hsl(221.2, 83.2%, 53.3%);
}

.dark {
  --sidebar: hsl(240, 5.9%, 10%);
  --sidebar-foreground: hsl(240, 4.8%, 95.9%);
  --sidebar-primary: hsl(224.3, 76.3%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(240, 3.7%, 15.9%);
  --sidebar-accent-foreground: hsl(240, 4.8%, 95.9%);
  --sidebar-border: hsl(240, 3.7%, 15.9%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

