.instructions-tile {
  background-color: var(--button-bg);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto 1rem 0;
  width: 40%;
}

.instruction-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  text-align: left;
}

.instruction-item:last-child {
  margin-bottom: 0;
}

.instruction-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colorp);
  margin-right: 1rem;
}

.instruction-text {
  display: flex;
  flex-direction: column;
}

.instruction-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--colorp);
}

.instruction-subtext {
  font-size: 1rem;
  color: var(--colorp2);
}
