.logo-button-container {
  cursor: pointer;
  display: inline-block; /* To make it fit the text content */
}

.logo-button-text {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  color: black;
  margin: 0; /* Reset margin */
  transition: text-shadow 0.3s ease;
  text-align: center; /* Ensure text is centered if container is wider */
}

.logo-button-text:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
