.logo-button-container {
  cursor: pointer;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center items */
}

.logo-symbol {
  display: block; /* Always visible */
  width: 50px; /* Or whatever size is appropriate */
  height: auto;
  margin-right: 10px; /* Space between symbol and text */
}

.logo-button-text {
  font-family: var(--ff-primary);
  font-style: normal;
  color: var(--colorp);
  margin: 0; /* Reset margin */
  transition: text-shadow 0.3s ease;
  text-align: center; /* Ensure text is centered if container is wider */
  font-size: 50px; /* Adjust font size as needed */
}

.logo-domain {
  display: none; /* Hide the .com.au part */
}

@media (max-width: 768px) {
  .logo-rest-of-word {
    display: none;
  }
}
