.logo-button-container {
  cursor: pointer;
  display: inline-block; /* To make it fit the text content */
}

.logo-button-text {
  font-family: var(--ff);
  font-style: normal;
  color: var(--colorp);
  margin: 0; /* Reset margin */
  transition: text-shadow 0.3s ease;
  text-align: center; /* Ensure text is centered if container is wider */
}

.logo-button-text:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-domain {
  font-weight: 300;
  font-style: italic;
}
