.logo-button-container {
  cursor: pointer;
  display: inline-block; /* To make it fit the text content */
  position: relative;
}

.logo-symbol {
  display: none; /* Hidden by default */
  width: 50px; /* Or whatever size is appropriate */
  height: auto;
}

.logo-button-text {
  font-family: var(--ff-primary);
  font-style: normal;
  color: var(--colorp);
  margin: 0; /* Reset margin */
  transition: text-shadow 0.3s ease;
  text-align: center; /* Ensure text is centered if container is wider */
}

.logo-domain {
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 768px) {
  .logo-button-text {
    display: none;
  }
  .logo-symbol {
    display: block;
  }
  .logo-rest-of-word,
  .logo-domain {
    display: none;
  }
}
