.map-button {
  background: transparent;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0;
  margin-right: 0.5rem;
  border-radius: 10px; /* Soften corners for the glow shape */
}

.map-button:hover {
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 70%);
}

.map-button:focus {
  outline: none;
}

.map-button img {
  width: 55px;
  height: 45px;
  display: block;
}
