.map-button {
  background: transparent;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0;
  margin-right: 0.5rem;
  border-radius: 10px; /* Soften corners for the glow shape */
}

.map-button:focus {
  outline: none;
}

.map-button img {
  width: 80px;
  height: 70px;
  display: block;
}
