.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-light);
  border-bottom: 1px solid var(--border);
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-logo {
  height: 50px;
  margin-right: 10px;
}

.navbar-left {
  cursor: pointer;
}
