.dashing-fill{
  color: var(--colorbody);
  background: linear-gradient(
    270deg,
    var(--colora),
    var(--colora2),
    var(--colora),
    var(--colora2)
  );
  background-size: 300% 300%;
  animation: bg 10s ease-in-out infinite;
} 

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dashing-fill:hover {
  animation: bg 2s ease-in-out infinite;
}