.dashing-fill {
  position: relative;
  padding: 0; /* Remove padding from the button */
  border: none;
  background: linear-gradient(
    270deg,
    var(--colorp3),
    white,
    var(--colorp3),
    white
  );
  background-size: 300% 300%;
  animation: bg 10s ease-in-out infinite;
  border-radius: 8px; /* Add border-radius to the container */
}

.dashing-fill-text {
  display: block;
  background-color: var(--colorp3);
  color: var(--colorp); /* Text color on the top layer */
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
  margin: 5px; /* This creates the border effect */
  border-radius: 6px; /* Slightly smaller border-radius */
  border: 1px solid black;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dashing-fill:hover {
  animation: bg 2s ease-in-out infinite;
}