@import "./globals.css";

.embla {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex;
}

.embla__slide {
  @apply relative flex-grow-0 flex-shrink-0 basis-1/2 sm:basis-1/3 md:basis-1/4 lg:basis-1/5 pl-4;
}
