.product-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action-item {
  display: flex;
  justify-content: center;
}
