.quantity-adjuster-btn {
  background: var(--colorp2);
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  transition: border-color 0.25s;
}

.quantity-adjuster-btn:hover {
  border-color: var(--highlight);
}

.quantity-adjuster-number {
  padding: 0 0.5rem;
  font-size: 1.3rem;
  font-family: sans-serif;
}
