.search-bar-form {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 750px;
}

.search-bar-input {
  flex: 1;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  margin-top: 5px;
  border: none;
}

.search-bar-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  cursor: pointer;
}
