
.small-product-tile {
    position: relative;
    background-color: var(--colorbody);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 0.1px solid black;
}

.small-product-tile .remove-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    cursor: pointer;
    color: var(--danger);
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.5rem;
    background: none;
    border: none;
}

.small-product-tile .row-1 {
    display: flex;
    align-items: center;
}

.small-product-tile .product-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 4px;
}

.small-product-tile .product-details {
    flex-grow: 1;
}

.small-product-tile .product-size {
    background-color: white;
    color: black;
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorp2);
}

.small-product-tile .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.small-product-tile .substitutes-container {
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.small-product-tile .substitutes-label {
    color: var(--text-muted);
}

.small-product-tile .substitute-item {
    padding-left: 1.5rem;
}
