.split-cart-button {
  background-color: var(--colorp);
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border: 1px solid black;
  font-family: var(--ff-primary);
  transition: all 0.3s ease;
  cursor: pointer;
}

.split-cart-button:hover {
  background-color: hsl(206, 65%, 65%);
  border-color: black;
}