.trolley-button {
  background: transparent;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  margin: 1.5rem;
  padding: 0; /* Reset padding */
}

.trolley-button:hover {
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 80%);
}

.item-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.6em;
}
