.trolley-button {
  background: transparent;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
  padding: 0; /* Reset padding */
}

.trolley-button:hover {
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 80%);
}

.trolley-button:focus {
  outline: none;
}

.item-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  background-color: var(--danger);
  color: white;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial, sans-serif';
}
