@font-face {
  font-family: 'Vollkorn';
  src: url('../assets/Vollkorn/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Baskervville';
  src: url('../assets/Baskervville/Baskervville-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville';
  src: url('../assets/Baskervville/Baskervville-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}



:root {

  --ff-primary: "Vollkorn", serif;

  --ff-secondary: "Baskervville", serif;





  --h1: bold 54px/60px var(--ff-primary);

  --h2: bold 36px/48px var(--ff-primary);

  --h3: bold 24px/36px var(--ff-primary);

  --links: 18px/18px var(--ff-secondary);

  --p: 18px/30px var(--ff-secondary);

  --p1: 24px/30px var(--ff-secondary);

  --p2: 36px/48px var(--ff-secondary);

  --subtext: 12px/20px var(--ff-secondary);

  --transition: 0.3s ease-in-out;

  --danger: hsl(0, 75%, 48%);
  --sub-selected-green: hsl(134, 41%, 88%);
  --font-numeric: 'Arial, sans-serif';

}



@media (max-width: 768px) {

  :root {

    --h1: bold 40.5px/45px var(--ff-primary);

    --h2: bold 27px/36px var(--ff-primary);

    --h3: bold 18px/27px var(--ff-primary);

    --links: 13.5px/13.5px var(--ff-secondary);

    --p: 13.5px/22.5px var(--ff-secondary);

    --p1: 18px/22.5px var(--ff-secondary);

    --p2: 27px/36px var(--ff-secondary);

    --subtext: 9px/15px var(--ff-secondary);

  }

}
