@font-face {
  font-family: 'Vollkorn';
  src: url('../assets/Vollkorn/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Baskervville';
  src: url('../assets/Baskervville/Baskervville-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville';
  src: url('../assets/Baskervville/Baskervville-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

:root {
  --ff-primary: "Vollkorn", serif;
  --ff-secondary: "Baskervville", serif;

  --colorp: hsl(209, 39%, 29%);
  --colorp2: hsl(209, 35%, 35%);
  --colorp3: hsl(92, 38%, 75%);
  --colora: #ffe537;
  --colora2: #537fe7;
  --colorbody: hsl(25,86%,97%);
  --colors: #333;
  --button-bg: hsl(68,60%,74%);
  --h1: bold 54px/60px var(--ff-primary);
  --h2: bold 36px/48px var(--ff-primary);
  --h3: bold 24px/36px var(--ff-primary);
  --links: 18px/18px var(--ff-secondary);
  --p: 18px/30px var(--ff-secondary);
  --p1: 24px/30px var(--ff-secondary);
  --p2: 36px/48px var(--ff-secondary);
  --subtext: 12px/20px var(--ff-secondary);
  --transition: 0.3s ease-in-out;

  /* Old variables, can be removed later */
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0, 0%, 5%);
  --bg-light: hsl(0 0% 10%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);
  --highlight: hsl(212 100% 100%);
  --border: hsl(212 4% 51%);
  --border-muted: hsl(212 6% 62%);
  --primary: #537fe7; /* Using new colora2 */
  --secondary: #ffe537; /* Using new colora */
  --danger: hsl(8, 93%, 50%);
  --warning: hsl(52 23% 34%);
  --success: hsl(125, 74%, 45%);
  --info: hsl(125, 80%, 80%);
  --glow: hsl(182, 100%, 75%);
  --color-fade-end: hsl(68,42%,89%);
}