#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; Removed */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--secondary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: var(--text-muted);
}

.off-canvas-menu {
  position: fixed;
  top: 0;
  right: -80vw; /* Start off-screen */
  width: 80vw;
  height: 100%;
  background-color: var(--bg-light);
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
}

.off-canvas-menu.visible {
  right: 0; /* Slide in */
}

.off-canvas-menu-left {
  position: fixed;
  top: 0;
  left: -300px; /* Start off-screen */
  width: 300px;
  height: 100%;
  background-color: var(--bg-light);
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transition: left 0.3s ease-in-out;
  z-index: 1040;
}

.off-canvas-menu-left.visible {
  left: 0; /* Slide in */
}