:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(212 11% 90%);
  --bg: hsl(200, 97%, 76%);
  --bg-light: hsl(212 100% 100%);
  --text: hsl(212 30% 5%);
  --text-muted: hsl(212 6% 28%);
  --highlight: hsl(212 100% 100%);
  --border: hsl(212 4% 51%);
  --border-muted: hsl(212 6% 62%);
  --primary: hsl(206, 65%, 55%);
  --secondary: hsl(38 100% 17%);
  --danger: hsl(8, 93%, 50%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);

  --lighting-1: hsl(0, 0%, 100%);
  --lighting-2: hsl(0, 0%, 100%);
  --lighting-3: hsl(0, 0%, 100%);
  --lighting-4: hsl(0, 0%, 100%); 
}


@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 400 900;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/Vollkorn/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 900;
}