/* :root {
  --primary-color: #4497d7;
  --primary-color-rgb: 68, 151, 215;
  --primary-color-hsl: 206, 65%, 55%;
} */


:root {
        --color-primary: hsl(181, 50%, 90%);
        --color-secondary: hsl(181, 50%, 10%);
        --color-tertiary: hsl(241, 80%, 20%);
        --color-accent: hsl(121, 80%, 20%);
    }


@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 400 900;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/Vollkorn/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 900;
}