@import "../index.css";

.custom-carousel {
  @apply overflow-x-auto pb-4;
}

.custom-carousel__container {
  @apply flex;
}

.custom-carousel__slide {
  @apply flex-shrink-0 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 p-2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-carousel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-carousel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
